
 <% @users.each do |user| %>
  <div id="user-card-<%=user.id%>">
   <div class="each-user-card">
    <div class="card">
        <div class="card-header bg-secondary">
        <a href="/profiles/<%=user.id%>" style="color: aliceblue;">  <%= user.name %> </a>
        </div>
        <div class="card-body">
           <span>Email:<span> <%=user.email%><br>
           <span>No of posts:</span> <%=user.posts.count%>
        </div>
        <div class="card-footer">
          <div class="admin-buttons">
            <div> 
                <span class="ban-form" id="ban-form-<%=user.id%>">
                    <button type="button" data-user-id="<%=user.id%>" class="btn btn-warning ban">Ban</button> 
                    <select id="ban-days-<%=user.id%>" class="1-100"></select>
                </span>
            </div>
            <div> <button type="button" data-user-id="<%=user.id%>" class="btn btn-danger delete-user-admin">Delete</button> </div>
          </div>
        </div>
    </div>
   </div>
       <br>
</div>

 <%end%>