<!DOCTYPE html>
<html>
  <head>
    <title>Q-BlogSharer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top dark-black-color nav-style">
       <div class="col-sm-12 main-header-div">
          <div class="">
            <img src="<%= asset_path( 'Title.png' ) %>" class="Title-style"/>
          </div>
       <%if user_signed_in? %>
           
           <div class="active-cyan-4 mb-4 search-bar-style">
              <input class="form-control search_container_input" type="text" placeholder="Search" onkeyup="onSearchButtonClick()">
              <div class='search-results'></div>
           </div>

           <div class="container">
               <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "Logout-button btn-primary btn-sm" %>
           </div>

       <%else%>
        <div class="login-div">
          <nav class="nav-style-row">
            <div class="container">
              <%= form_for(:user, :url => session_path(:user), :html => {:class => "form-row"} ) do |f| %>
                  <div class="col">
                    <%= f.text_field :email, placeholder: "Email", class: "form-control form_container font-fb-copy" %>
                  </div>
                  <div class="col">
                    <%= f.password_field :password, placeholder: "Password", class: "form-control form_container font-fb-copy" %>
                    <%= link_to "Forgot your password?", new_password_path(:user), class: "font-fb-copy forgot-password" %>
                  </div>
                  <span class="d-inline-block">
                    <%= f.submit 'Sign in',class: "btn btn-primary btn-sm" %>
                  </span>
              <%end%>
            </div>
          </nav>
          </div>
        <%end%>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 



    <%= yield %>
  </body>
</html>
