<!DOCTYPE html>
<html>
  <head>
    <title>Q-BlogSharer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top dark-black-color nav-style">
       <div class="col-sm-12 main-header-div">
          <div class="">
            <img src="<%= asset_path( 'Title.png' ) %>" class="Title-style"/>
          </div>
       <%if user_signed_in? %>
          <%= render 'layouts/logout_header'%>
       <%else%>
         <%= render 'layouts/login_header' %>
       <%end%>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 



    <%= yield %>
  </body>
</html>
