<!DOCTYPE html>
<html>
  <head>
    <title>Q-BlogSharer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-dark bg-dark">
       <div class="container">
        <nav>
            <span class="nav-item"><%= link_to "Home",   '#' %></span>
            <span class="nav-item"><%= link_to "Help",   '#' %></span>
            <span class="nav-item"><%= render 'users/menu/login_items' %></span>
        </nav>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <%= yield %>
  </body>
</html>


























